*{
    margin:0px;
}
html, body {
    overflow: hidden;
    height: 100%;
}
header{
    width:100%;
    background-color: rgb(64, 8, 8);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.container {
    margin-top: 1rem;
    padding: .5rem 2rem 1.55rem 3rem; 
    display: grid;
    grid-template-areas: "gridItem gridItem gridItem";
    gap: 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    
}
.background{
    background-color: rgb(112, 49, 49); 
    min-height: 100rem;
    overflow: hidden;
}
.gridItem{
    display: flex;
    flex-direction: column;
    width:30%;
}
.gridItem>img{
    height: 12rem;
    width: 21.2rem;
}
.gridItem >p{
    text-align: center;
    width:21.2rem;
    background-color: rgb(95, 69, 42);
    color: aliceblue;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:600px)
{
    .container{
        grid-template-areas: "gridItem" !important;
        margin:auto;
        /* padding-left: 15vw; */
    }.gridItem > img{
        height : 10rem;
        width: 17rem;
    }
    .gridItem > p{
        width:17rem;
    }
    body {
        overflow:scroll;
        height: 100%;
    }
}