*{
    z-index: 5;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: -25px;
}
.cardBackground{
    width:300px;
    height : 500px;
    background-color: rgb(76, 32, 91);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.titleArea{
    width:100%;
    height:40%;
    background-color: rgb(120, 45, 120);
}
.Image{
    position: relative;
z-index :1;
}
.bg{
    background-color: rgb(51, 9, 9);
    /* width:fit-content; */
    z-index: 5;
    width:100%;
    opacity: 50%;
    height:208px;
    position:relative;
    top:-210px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.name{
  
    /* background-color: rgb(73, 9, 9); */
    /* width:fit-content; */
    z-index: 10;
    position: absolute;
    padding: 10px;
    top:80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255); 
}
.class{
    z-index: 10;
    position: absolute;
    padding: 10px;
    top:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255); 
}
.attrArea{
    padding : 10px;
    display: flex;
    width:90%;
    flex-direction: column;
    margin-top: 5px;
}
.attrRow{
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    justify-content: space-around;
    border:5px blueviolet solid;
    align-items: center;
    margin-left: 10px;

}
.attrEntry{
    /* background-color: blueviolet; */
}
.attrCell{
    width:80px;
    margin :1px;
    padding:9px;
    color: aliceblue;
    /* background-color: yellow; */
}
.attrRow:last-child{
    border-bottom-width: 0px;
}
.attrRow{
    border-left-width: 0px;
    border-right-width: 0px;
}
.attrRow:first-child{
    border-top-width: 0px;
}
@keyframes moveUpCard {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}
@keyframes moveUpName {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(-60px);
    }
}

.cardBackground:hover {
    .class{
        animation: moveUpName 0.5s  forwards;
    }
    .name {
    animation: moveUpName 0.5s  forwards;
}
    animation: moveUpCard  0.5s ease-in  forwards;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
}